body{
    background-color: rgba(192, 168, 140, 0.418);
    background-image: url("https://gamerwall.pro/uploads/posts/2022-03/1648541702_1-gamerwall-pro-p-smeshnoi-fon-dlya-rabochego-stola-krasivie-1.jpg"); /* фоновое изображение*/
    font-size: 24px;
    background-position: top center;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

html {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.header{
    color: rgb(25, 9, 61);
    background-position: top center;
    text-align: center;
}

.list{
    padding: 10px;
    margin: 0 auto;
    background-position: top center;
    line-height: 1.5;
    font-size: 22px;
    width: 800px;
}